#game-canvas {
	position: absolute;
}

#lives {
	position: relative;
	color: white;
}

#points {
	position: relative;
	color: white;
}

#pause-music {
	position: relative;
	color: white;
}

#play-music {
	position: relative;
	color: white;
}

#welcome {
	position: relative;
	color: white;
	background-color: pink;
	width: 400px;
	height: 200px;
	margin-left: 250px;
	margin-top: 100px;
	border-radius: 5px;
	box-shadow: 10px 10px 5px #888888;
}

#cat-gif {
	position: absolute;
	right: 20px;
	bottom: 20px;
}

#cat-gif img {
	height: 100px;
}

#start-new-game, #visit-leadership-board, #visit-instructions {
	font-size: 32px;
	margin: 10px;
}

#start-new-game:hover, #visit-leadership-board:hover, #visit-instructions:hover {
	color: grey;
    cursor: pointer;
}

#background-music {
	position: absolute;
	top: 0px;
	left: 0px;
}

#leadership-board, #instructions {
	position: relative;
	color: white;
	background-color: pink;
	width: 400px;
	height: 200px;
	margin-left: 250px;
	margin-top: 100px;
	border-radius: 5px;
	box-shadow: 10px 10px 5px #888888;
	text-align: center;
}

#best-scores {
	position: relative;t
}

#game-over {
	position: relative;
	color: white;
	background-color: pink;
	width: 400px;
	height: 200px;
	margin-left: 250px;
	margin-top: 100px;
	border-radius: 5px;
	box-shadow: 10px 10px 5px #888888;
	text-align: center;
}

#final-score {
	display: inline-block;
}

.visible {
	display: inline-block;
}

.hidden {
	display: none;
}

